.builder {
    position: absolute;
    left: 0;
    width: 50%;
    top: 0;
    bottom: 0;
  }
  
  .runner {
    position: absolute;
    background-color: white;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-out;
  
    > iframe {
      pointer-events: none;
    }
  
    &.visible {
      opacity: 1;
      pointer-events: auto;
  
      > iframe {
        pointer-events: auto;
      }
    }
  }